colorama
matplotlib
pandas
optuna
scikit-learn
visdom
tabulate
scikit-image
tensorflow-io==0.15.0
albumentations
pytorch-dp 
gevent ==20.6.2
gevent-websocket ==0.10.1
gunicorn ==20.0.4
Flask ==1.1.1
Flask-Sockets ==0.2.1
requests ==2.22.0
Flask-SQLAlchemy ==2.4.4
Flask-Migrate ==2.5.3
Flask-Cors ==3.0.9
Flask-Executor ==0.9.3
Flask-Login ==0.5.0
sqlalchemy_mixins ==1.2.1
pyjwt ==1.7.1
psycopg2-binary ==2.8.5
requests-toolbelt ==0.9.1
redis ==3.5.3
sqlalchemy_utils ==0.36.8
wsaccel ==0.6.2
papermill ==2.0.0
bcrypt ==3.2.0
#syft==0.2.9