git+https://github.com/OpenMined/PySyft.git@f1d55314dacb8300e2bd6d3c595883c0cb5336f6
git+https://github.com/tensorflow/privacy.git@v.0.5.1
torch==1.6.0
pandas
scikit-learn
opacus==0.9.1
tf-nightly-cpu==2.4.0.dev20200924
torchcsprng==0.1.2
tqdm==4.49.0
optuna