# server training settings
--total_rounds=20
--clients_per_round=5
# server optimizer settings
--server_optimizer=yogi
--server_yogi_initial_accumulator_value=.4225012
--server_learning_rate=1.0
# client training settings
--client_epochs_per_round=1
--client_batch_size=32
# client optimizer settings
--client_optimizer=sgd
--client_learning_rate=.01
--client_lr_schedule=exp_decay
--client_lr_decay_rate=.1
--client_lr_decay_steps=5
--client_lr_staircase
# model settings
--freeze_model
# etc
--experiment_name=default